<footer class="footer">
  <div class="container">
    
    <p>© 2025 Mahalakshmi K S | All Rights Reserved</p>

    <!-- Social Media Links -->
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/mahalakshmi-k-s-3356a6237/" target="_blank">
        <img src="assets/icons/linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/mahalakshmikrish" target="_blank">
        <img src="assets/icons/github.png" alt="GitHub">
      </a>
    </div>

  </div>
</footer>
