<div class="explore-container">
    <!-- Intro Section -->
    <section class="explore-intro">
        <h1>See my works</h1>
        <p>Take a look at some of the projects I have worked on using multiple technologies.</p>
    </section>

    <!-- Projects Grid -->
    <section class="projects-grid">
        <!-- Project 1 -->
        <div class="project-card">
            <h3>Pizza Ordering System</h3>
            <video controls>
                <source src="assets/videos/pizzariaproject.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>A dynamic food ordering platform built using Angular & Node.js. Developed with microservices using express and 
                used mongodb for adding data such as list of pizzas and it's ingredients.
            </p>
        </div>

        <!-- Project 2 -->
        <div class="project-card">
            <h3>Agri Intellect - Empowering Farmers with smart agricultural solution</h3>
            <video controls>
                <source src="assets/videos/agriintellect.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>This web application is built using the Flask framework and seamlessly integrates a machine learning model to provide accurate yield predictions for the selected crop variety. By leveraging data-driven insights, the application helps users estimate potential yield outcomes based on various factors, enhancing decision-making in agriculture.
            </p>
        </div>
    </section>
</div>